@model IEnumerable<BooksStore.Models.BookEntity>

@{
    ViewBag.Title = "Search";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewBooks</title>
</head>
<body>
    <form action="/Home/Search" method="post">
        <p>
            Search: @Html.TextBox("Search") <br />
            <br/>
            <input type="submit" value="Search" />
        </p>
    </form>
    <p>
        @Html.ActionLink("Add New Book", "Create")
    </p>
    @if (Model.Count() > 0)
    {
        <table class="table" width="500" border="1">
            <tr>
                <th width="50"> @Html.DisplayNameFor(model => model.BookID) </th>
                <th width="100"> @Html.DisplayNameFor(model => model.BookTitle) </th>
                <th width="80"> @Html.DisplayNameFor(model => model.BookPrice) </th>
                <th width="80"></th>
                <th width="80"></th>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td align="center">@Html.DisplayFor(modelItem => item.BookID)</td>
                <td align="center" contenteditable="true">@Html.DisplayFor(modelItem => item.BookTitle)</td>
                <td align="center" contenteditable="true">@Html.DisplayFor(modelItem => item.BookPrice)</td>
                <td align="center">
                    @Html.ActionLink("Delete", "Delete",
                    new { rowKey = item.BookID, partitionKey = item.PartitionKey})
                </td>
                <td align="center">
                    @Html.ActionLink("Update", "Update",
                    new { bkId = item.BookID, upBkTitle = item.BookTitle, upBkPrice = item.BookPrice})
                </td>
            </tr>
            }
        </table>
    }
    else
    { <h4>Book List is empty.</h4>}
</body>
</html>
